/*Fonts and colors*/
body{
  background: rgb(245,245,245);
  color: green;
  font-family: Helvetica;
  }
h1{
  color: 12d3cf;
  font-weight: lighter;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;

}
h2 {
  color: pink;
  font-weight: lighter;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;

}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: purple;
}

/*Custom designs*/
#banner{
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1512546148165-e50d714a565a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  background-size: cover;
  padding: 150px 0px;
  color: black;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
.section{
  padding: 50px;
  font-weight: lighter;
   text-align: center;
}
#footer{
  padding: 30px;
  background: lightgrey;
}

.fab{
	color: black;
	  font-size: 60px;

}













